<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма</title>
</head>
<body>
    <h1>{{ form_model.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
